<!DOCTYPE html>
<html>
<head>
  <title>PhotoJournal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
		<%= link_to "Home", photos_path %> | <%= link_to 'Public Page', :controller => 'photos', :action => 'public_user_index', :username => current_user.username %> | <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>  | <%= link_to 'Slideshow', :controller => 'photos', :action => 'slideshow', :username => current_user.username %>
	<% end %>
<div id="container">
<%= yield %>
</div>

</body>
</html>
